.whats {
  display: flex;
  flex-direction: column;
  font-family: Arial, sans-serif;
  text-align: left;
}

.item {
  display: flex;
  align-items: center;
  margin: 10px ;
  color: #000;
  gap: 10px;
}

.icon {
  font-size: 30px;
  color: #000;
  text-align: center;
}