.root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.painelImagem {
    min-height: 400px;
    min-width: 400px;
    background-color: darkcyan;
}

.painelForm {
    background-color: chocolate;
    flex-grow: 1;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.painelForm form {

}

@media (min-width: 800px) {
    .root {
        flex-direction: row;
    }

    .painelImagem,
    .painelForm {
        flex-grow: 1;
    }
}