.menu{
    border-radius: 45px;
    background-color: #F0C6D2;
    color: #000000;
    text-decoration: none;
    width: 100px;
    font-size: 18px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

