.cadastro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    margin-top: 270px;
}

.cadastro img{
    width: 100px;
    height: 100px;
}

body{
    background-color: pink;
}
