.cadastro{
    display: flex;
    flex-direction: column;
    position:absolute;
    left: 70%;
    bottom: 30%;
    gap: 60px;
    align-items: center;
}

.fundo{
    position:fixed;
    left: 60%;
    bottom: 0;
    background-color: pink;
    height: 100%;
    width: 100%;
}

.desing{
    background-color: black;
    position:fixed;
    height: 100%;
    width: 60%;
    left: 0%;
    bottom: 0;
}

.login{
    display: flex;
    position: absolute;
    align-items: center;
    left: 88%;
    bottom: 94%;
    gap: 5px;
}