.produto{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 35px;
    border: 1px solid black;
    border-radius: 50px;
    background-color: rgb(226, 226, 226);
    justify-content: center;   
    font-weight: bold;    
}

.foto{
    border: 1px solid black;
}