body{
    background-color: pink;
    padding: 0;
    margin: 0;
}

.tela{
    position: relative;
    top: 30vh;
}

.login{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: bold;
    gap: 10px;
}

.login img{
    width: 100px;
    height: 100px;
}

.login button{
    width: 150px;
    background-color: greenyellow;
}

.login hr{
    width: 300px;
}

.cadastro{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5px;
}

.cadastro a{
    text-decoration: none;
}