.barraPesquisa {
    position: relative;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0; /* espaço ao redor */
  }
  
  .campoPesquisa {
    width: 100%;
    padding: 10px 40px 10px 20px; /* espaço à direita para a lupa */
    border: none;
    border-radius: 999px; /* bordas arredondadas */
    background-color: #f2f5fe; /* cor do input */
    font-size: 16px;
    outline: none;
    color: #000000;
  }
  
  .iconeLupa {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    color: #000000;
    pointer-events: none;
    font-size: 16px;
  }
  
  .botaoPesquisa {
    display: none; /* esconder o botão, já que não é mais usado */
  }
  