.header {
    display: flex;
    background-color: #e7dbdb;
    justify-content: space-between;
    align-items: center;
}

.header .Menu{
    display: flex;
    margin-left: 200px;
    gap: 10px;
}

.header .Icones{
    display: flex;
    gap: 40px;
    margin-right: 20px;
}