.header {
    display: flex;
    background-color: #e7dbdb;
    align-items: center;
}

.header .Pesquisa{
    margin-left: 30px;
}

.header .Menu{
    display: flex;
    margin-left: 500px;
    gap: 30px;
}

.header .Icones{
    display: flex;
    margin-left: 70px;
    gap: 40px;
}